.jumbotron {
  background-color: #badc58;
  color: rgb(0, 0, 0);
  padding: 100px 0;
  text-align: center;
}


.brand-icon {
    font-size: 80px;
}
.container{
  /* background-color: #2C3A47; */
}

.App{
  background-color: #F8EFBA;
}